<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{291,1},{288,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{711,161},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{711,199},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{711,237},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{711,275},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{717,771},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{717,809},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{717,847},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{635,833},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{637,861},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{623,909},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{635,823},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{557,851},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brand_copyright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,12}</string>
                <key>spriteSourceSize</key>
                <string>{126,14}</string>
                <key>textureRect</key>
                <string>{{711,1},{124,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,28}</string>
                <key>textureRect</key>
                <string>{{569,793},{80,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,28}</string>
                <key>textureRect</key>
                <string>{{685,569},{80,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{715,647},{26,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{116,70}</string>
                <key>textureRect</key>
                <string>{{569,669},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_rate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{64,38}</string>
                <key>spriteSourceSize</key>
                <string>{74,48}</string>
                <key>textureRect</key>
                <string>{{569,823},{64,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{685,651},{26,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{116,70}</string>
                <key>textureRect</key>
                <string>{{569,731},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{80,28}</string>
                <key>textureRect</key>
                <string>{{715,565},{80,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{677,771},{24,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{16,38}</string>
                <key>spriteSourceSize</key>
                <string>{16,44}</string>
                <key>textureRect</key>
                <string>{{725,1},{16,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{651,793},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{677,797},{24,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{677,823},{24,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{503,883},{24,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{557,863},{24,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{543,889},{24,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{583,889},{24,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{597,863},{24,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,74}</string>
                <key>spriteSourceSize</key>
                <string>{336,74}</string>
                <key>textureRect</key>
                <string>{{581,1},{336,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>medals_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{699,519},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medals_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{511,837},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medals_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{677,679},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medals_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{677,725},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,14}</string>
                <key>textureRect</key>
                <string>{{657,323},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{569,515},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{543,883},{4,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_context_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{557,837},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{569,529},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{569,543},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{673,849},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_context_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{675,861},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{687,849},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{675,875},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{665,889},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_context_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{731,313},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_score_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{725,41},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_score_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{8,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{711,313},{8,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_score_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{725,55},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_score_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{725,69},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_score_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{725,83},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_score_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{725,97},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_score_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{725,111},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number_score_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{623,889},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_score_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{637,889},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_score_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,20}</string>
                <key>textureRect</key>
                <string>{{651,889},{12,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipe2_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{1,805},{52,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipe2_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{657,1},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{1,859},{52,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{515,515},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{228,116}</string>
                <key>spriteSourceSize</key>
                <string>{238,126}</string>
                <key>textureRect</key>
                <string>{{581,339},{228,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{288,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_game_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{194,44}</string>
                <key>spriteSourceSize</key>
                <string>{204,54}</string>
                <key>textureRect</key>
                <string>{{699,323},{194,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{186,52}</string>
                <key>spriteSourceSize</key>
                <string>{196,62}</string>
                <key>textureRect</key>
                <string>{{323,805},{186,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,48}</string>
                <key>spriteSourceSize</key>
                <string>{178,48}</string>
                <key>textureRect</key>
                <string>{{323,859},{178,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,98}</string>
                <key>spriteSourceSize</key>
                <string>{114,98}</string>
                <key>textureRect</key>
                <string>{{569,569},{114,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{711,127},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{744,914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80ed21c5714e1a6b70c12c4bcde3406c:9742c34df56964fbce0a633d13ad332e:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
